<div class="my-5 container">

    <div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Employee Id</span>
            </div>
            <input 
            class="form-control" 
            type="text" 
            [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}"
            [(ngModel)]='vm.newEmployee.employeeId'
            [disabled]="vm.isDeleteBtnDisplay"
            >
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">First Name</span>
            </div>
            <input 
            class="form-control" 
            type="text"
            [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}" 
            [(ngModel)]='vm.newEmployee.firstName'
            [disabled]="vm.isDeleteBtnDisplay"
            >
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Last Name</span>
            </div>
            <input class="form-control" type="text" [(ngModel)]='vm.newEmployee.lastName'             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}"
            [disabled]="vm.isDeleteBtnDisplay">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Gender</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="onGenderSelect($event.target.value)"
                [(ngModel)]="vm.newEmployee.gender "             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'pointer'}"
                [disabled]="vm.isDeleteBtnDisplay">

                <option *ngFor="let item of gender" value="{{ item.Value }}">
                        {{ item.Label }}
                      </option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="Country">Country</label>
            </div>
            <select class="custom-select" id="Country" (change)="onCountrySelect($event.target.value)"
                [(ngModel)]="vm.CountryList "             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'pointer'}"
                [disabled]="vm.isDeleteBtnDisplay">

                <option *ngFor="let item of vm.CountryList" value="{{ item.Value }}">
                        {{ item.Label }}
                      </option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Address</span>
            </div>
            <input class="form-control" type="text"             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}"
            [(ngModel)]='vm.newEmployee.address' [disabled]="vm.isDeleteBtnDisplay">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">City</span>
            </div>
            <input class="form-control" type="text"             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}"
            [(ngModel)]='vm.newEmployee.city' [disabled]="vm.isDeleteBtnDisplay">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">State</span>
            </div>
            <input class="form-control" type="text"             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}"
            [(ngModel)]='vm.newEmployee.state' [disabled]="vm.isDeleteBtnDisplay">
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Order Total</span>
            </div>
            <input class="form-control" type="text"             [ngStyle]="{'cursor': vm.isDeleteBtnDisplay ? 'not-allowed' : 'text'}"
            [(ngModel)]='vm.newEmployee.orderTotal' [disabled]="vm.isDeleteBtnDisplay">
        </div>

    </div>

    <div class="float-right">
        <button class="btn" routerLink='/customers'>Back</button>
        <span *ngIf='vm.isAddBtnDisplay'>
            <button class="btn btn-success  ml-5" (click)='addCustomer(vm.newEmployee)'>Add</button>
        </span>
        <span *ngIf='vm.isUpdateBtnDisplay'>
            <button class="btn btn-warning ml-5" (click)='updateCustomer(vm.newEmployee)'>Update</button>
        </span>
        <span *ngIf='vm.isDeleteBtnDisplay'>
            <button class="btn btn-danger  ml-5" (click)='deleteCustomer(vm.newEmployee.id)'>Delete</button>
        </span>
    </div>
</div>

<ng-template #popup>
    <h3>Pop Up</h3>
</ng-template>