<div class="container my-3">
    <div>
        <span class="fa fa-users logo"></span>
        <span class="ml-2 sub-title">Customers</span>
    </div>

    <div class="filter-container my-3">

        <!-- <input class="form-control filter-width" name='filter' type="filter"> -->
        <div class="input-group mb-3 filter-width">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span class="fa fa-filter"></span>
                </div>
            </div>
            <input class="form-control "
            [(ngModel)]="vm.searchCustomer"
            type="text"
            (input)="onSearch()">
        </div>
        <h2>{{marvelHeroes | json}}</h2>
        <button class="btn btn-dark" (click)='addNewCustomer()'>Add New Customer</button>
    </div>



    <div class="my-3">
        <table class="table table-striped">
            <tr>
                <th>Gender</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Order Total</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor='let users of vm.customerList;let i = index'>
                <td>
                    <img *ngIf='users.gender == "Male"' src="../../../assets/images/male.png" >
                    <img *ngIf='users.gender == "Female"' src="../../../assets/images/female.png" >
                </td>
                <td>{{users.firstName}}</td>
                <td>{{users.lastName}}</td>
                <td>{{users.address}}</td>
                <td>{{users.city}}</td>
                <td>{{users.state}}</td>
                <td>{{users.orderTotal}}</td>
                <td> <span class="far fa-edit" (click)="editCustomer(users)"></span></td>
                <td><span class="fa fa-trash" (click)="deleteCustomer(users)"></span></td>
            </tr>
        </table>
    </div>
</div>